


<div class="app-card">
    <div class="tabs">
      <button (click)="selectTab(1)" [class.active]="selectedTab === 1">Pestaña 1</button>
      <button (click)="selectTab(2)" [class.active]="selectedTab === 2">Pestaña 2</button>
      <button (click)="selectTab(3)" [class.active]="selectedTab === 3">Pestaña 3</button>
    </div>
  
    <div class="tab-content">
      <div *ngIf="selectedTab === 1">
        <p>Contenido de la tarjeta 1</p>
      </div>
      <div *ngIf="selectedTab === 2">
        <p>Contenido de la tarjeta 2</p>
      </div>
      <div *ngIf="selectedTab === 3">
        <p>Contenido de la tarjeta 3</p>
      </div>
    </div>
  </div>