<div class="container">
  <h1>{{ title }}</h1>

  <!-- Sección para Añadir Ciudad -->
  <div class="add-city">
    <input type="text" [(ngModel)]="newCityName" placeholder="City Name" />
    <button (click)="addCity()">Add City</button>
    <p *ngIf="errorMessage" class="error">{{ errorMessage }}</p>
  </div>

  <!-- Barra de Búsqueda -->
  <div class="search-city">
    <input type="text" [(ngModel)]="filterText" placeholder="Search cities" />
    <button (click)="filterCities()">Search</button>
    <button (click)="resetSearch()">Reset</button>
  </div>

  <!-- Lista de Ciudades en Recuadros -->
  <div class="city-grid">
    <div *ngFor="let city of cities" class="city-card" (click)="deleteCity(city.name)">
      <h3>{{ city.name }}</h3>
    </div>
  </div>
</div>
