.social-networks {
  display: flex;
  justify-content: space-around;
}

.card {
  padding: 10px;
  border-radius: 5px;
  color: white;
  text-align: center;
}

button {
  display: block;
  margin-bottom: 5px;
  cursor: pointer;
}

.youtube { background-color: red; }
.facebook { background-color: blue; }
.tiktok { background-color: purple; }
.instagram { background-color: orange; color: black; }
.whatsapp { background-color: green; }
