<div *ngIf="person">
  <div>
    <button (click)="changePage('personal')">Personal</button>
    <button (click)="changePage('geographic')">Geographic</button>
    <button (click)="changePage('messages')">Messages</button>
  </div>

  <div *ngIf="currentPage === 'personal'">
    <p>Name: {{ person.name }}</p>
    <p>Last Name: {{ person.lastName }}</p>
    <p *ngIf="person.type === 'student'">Score: {{ getScore() }}</p>
    <p *ngIf="person.type === 'professor'">Subject: {{ person.subject }}</p>
  </div>

  <div *ngIf="currentPage === 'geographic'">
    <p>Address: {{ person.address.street }} {{ person.address.number }}</p>
    <p>Country: {{ person.country }}</p>
    <p>Province: {{ person.province }}</p>
  </div>

  <div *ngIf="currentPage === 'messages'">
    <app-search (searchEvent)="onSearch($event)"></app-search>
    <app-list [people]="person.messages"></app-list>
  </div>
</div>


    <ng-content></ng-content>

    <app-navbar></app-navbar>
    <app-card></app-card>
    <app-alert></app-alert>
    
  </div>